

@media screen and (min-width: 768px) {
  .total-height {
    height: calc(100vh - 7rem);
    width: 100vw;
  }
  
  .form-taskCard-container{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    
  }
  .form-container{
    margin-right: 20px;
    background-color: #61dafb;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
  }
  .taskCard-container{
    overflow-y: scroll;
    width: 60%;
  }
  .taskItems-container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
  }
  .taskItem-container{
    border: 1px solid #424444;
    /* width: calc(50% - 3px); */
    margin: 3px;
  }
}  
